body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media screen and (min-width: 1024px){
  .body {
    background-color: rgb(232,232,232);
    /* max-width: 100vw; */
  }
  .textColor {
    color: rgb(40,57,163);
  }
  .brandLogo {
    font-size: 2em;
    color: rgb(40,57,163);
    font-weight: 600;
  }
  .brandLink {
    font-weight: 600 !important;
    font-size: 1.2em;
    /* color: rgb(213,155,143) !important; */
  }
  .brandLink:hover {
    border-bottom: 2px solid rgb(40,57,163);
    color: rgb(40,57,163) !important;
    font-size: 1.2em;
  }
  button {
    background-color: rgb(40,57,163) !important;
    font-weight: 600 !important;
  }
  .brandText {
    color: rgb(40,57,163) !important;
    font-size: 4.5em !important;
  }
  .brandText2 {
    color: rgb(40,57,163) !important;
    font-size: 1.8em !important;
  }
  .brandText3 {
    color: rgb(30,30,30) !important;
    font-size: .95em !important;
    font-weight: 500;
    line-height: 18px;
  }
  .signupText {
    font-size: 2.5em;
    background-color: rgb(40,57,163)  ;
    font-style: italic;
  }
  .signinText {
    color: rgb(40,57,163);
    font-size: 2em;
    font-style: italic;
  }
  .dashColor {
    background-color: rgb(54,69,170);
  }
  .dashContent {
    background-color: rgb(40,57,163);
    border-top-left-radius:30px;
    border-bottom-left-radius: 30px;
  
  }
  .dashContent2 {
    border-top-left-radius:35px;
    border-bottom-left-radius: 35px;
  
  }
  .dashList {
    list-style-type: none;
  }
  .atmCard {
    border-radius: 20px;
  }
  .cardNo {
    letter-spacing: 15px;
    text-align: center;
  }
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .body {
    background-color: rgb(232,232,232);
  }
  .textColor {
    color: rgb(40,57,163);
  }
  .brandLogo {
    font-size: 1.5em;
    color: rgb(40,57,163);
    font-weight: 600;
  }
  .brandLink {
    font-weight: 600 !important;
    font-size: 1.2em;
    /* color: rgb(213,155,143) !important; */
  }
  .brandLink:hover {
    border-bottom: 2px solid rgb(40,57,163);
    color: rgb(40,57,163) !important;
    font-size: 1.2em;
  }
  button {
    background-color: rgb(40,57,163) !important;
    font-weight: 600 !important;
  }
  .brandText {
    color: rgb(40,57,163) !important;
    font-size: 4.5em !important;
  }
  .brandText2 {
    color: rgb(40,57,163) !important;
    font-size: 1.8em !important;
  }
  .brandText3 {
    color: rgb(30,30,30) !important;
    font-size: .95em !important;
    font-weight: 500;
    line-height: 18px;
  }
  .signupText {
    font-size: 2.5em;
    background-color: rgb(40,57,163)  ;
    font-style: italic;
  }
  .signinText {
    color: rgb(40,57,163);
    font-size: 2em;
    font-style: italic;
  }
  .dashColor {
    background-color: rgb(54,69,170);
  }
  .dashContent {
    background-color: rgb(40,57,163);
    border-top-left-radius:30px;
    border-bottom-left-radius: 30px;
  
  }
  .dashContent2 {
    border-top-left-radius:35px;
    border-bottom-left-radius: 35px;
  
  }
  .dashList {
    list-style-type: none;
  }
  .atmCard {
    border-radius: 20px;
  }
  .cardNo {
    letter-spacing: 15px;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .body {
    background-color: rgb(232,232,232);
  }
  .textColor {
    color: rgb(40,57,163);
  }
  .brandLogo {
    font-size: 1.6em;
    color: rgb(40,57,163);
    font-weight: 600;
  }
  .brandLink {
    font-weight: 600 !important;
    font-size: 1.2em;
    /* color: rgb(213,155,143) !important; */
  }
  .brandLink:hover {
    border-bottom: 2px solid rgb(40,57,163);
    color: rgb(40,57,163) !important;
    font-size: 1.2em;
  }
  button {
    background-color: rgb(40,57,163) !important;
    font-weight: 600 !important;
  }
  .imgDisplay {
    display: none;
  }
  .brandText {
    color: rgb(40,57,163) !important;
    font-size: 4.5em !important;
  }
  .brandText2 {
    color: rgb(40,57,163) !important;
    font-size: 1.8em !important;
  }
  .brandText3 {
    color: rgb(30,30,30) !important;
    font-size: .95em !important;
    font-weight: 500;
    line-height: 18px;
  }
  .profileImage {
    display: none;
  }
  .signupText {
    font-size: 2.5em;
    background-color: rgb(40,57,163)  ;
    font-style: italic;
  }
  .signinText {
    color: rgb(40,57,163);
    font-size: 2em;
    font-style: italic;
  }
  .dashColor {
    background-color: rgb(54,69,170);
  }
  /* .dashContent {
    background-color: rgb(40,57,163);
    border-top-left-radius:30px;
    border-bottom-left-radius: 30px;
  
  } */
  .dashContent2 {
    border-top-left-radius:35px;
    border-bottom-left-radius: 35px;
  
  }
  .dashList {
    list-style-type: none;
    /* display: flex;
    flex-direction: row; */
  }
  .welcome {
    font-size: 1.4em;
    color: rgb(40,57,163);
  }
  .dashLi {
    border: 2px solid rgb(40,57,163);
    height: 5px;
    padding-top: 0% !important;
    margin: 0 !important;
  }
  /* .dashLi {
    padding-top: 0% !important;
  } */
  .atmCard {
    border-radius: 20px;
  }
  .cardNo {
    letter-spacing: 15px;
    text-align: center;
  }
  .margins{
    margin-top: 15px;
  }
  /* .dFlex {
    display: flex;
    flex-direction: row;
  } */
}

